
// Body
$body-bg: #fcebd5;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #F2992E;
$brand-info: #8eb4cb;
$brand-success: #06D6A0;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #704E2E;

// Navbar
$navbar-default-bg: #DF9A57;
$navbar-default-color: #fcebd5 !default;
$navbar-default-brand-color: #fff;
$navbar-default-link-color: $navbar-default-color !default;
$navbar-default-link-hover-color: lighten($navbar-default-color, 20%) !default;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$state-success-text:             #fff !default;
$state-success-bg:               $brand-success !default;
